<!DOCTYPE html>

<html>
    <head>
        <title>Shop login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="content">
            <h1>Welcome</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href=""> Sign up </a>
                    
                </div>
            </form>
        </div>
    </body>
</html>
