<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="$(titulo)"></h1>
        <table>
            <thead class="thread-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido 1</th>
                    <th scope="col">Apellido 2</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Eliminar</th>

                </tr>

            </thead>
            <tbody>
            <th:block th:each="user : $(personas)">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td>
                        <a th:href="@{/delete/(id)(id=$(user.getId))}">Delete</a>
                    </td>

                </tr>
            </th:block>

        </tbody>

    </table>


</body>
</html>
